

/*
                    STRUCTURE DEBUG
*/


debug main .container .left-nav{
    width: 250px;
    height:100vw;
    outline: 3px dashed white;
}

debug main .container .right-nav{
    position: relative;
}

debug main .container .right-nav .upgrade-msg{
    position: fixed;
    height: 80px;
    width: calc(100% - 250px);
    top: 0;
    right: 0;
    outline: 3px dashed white;
    justify-content: flex-end;
    padding-right: 1.25rem;
}


debug main .container .right-nav .upgrade-msg a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 3.125rem;
    padding: .5rem 2.5rem;
   align-self:  center;
   font-size: .625rem;
}


debug footer .container .player-container{
    position: relative;
}


debug footer .container .player-container .music-player{
    width: 100%;
    height: 80px;
    outline: 3px dashed white;
    position: fixed;
    bottom: 0;
    left: 0;
}

/*
-----------------------------------------------------------------------------------------------
*/

/*
                   MAIN DEBUG
*/

.debug .main-nav ul li a{
    color: gray;
}

.debug .main-nav ul li:first-child a{
    color: white;
}

.logo{
    color: white;
    font-weight:600;
    font-size:1.875rem;
    padding: 1.25rem;
}

