/*

IMPORT

*/


@import "reset.css";
@import "general.css";
@import "color.css";
@import "debug.css";

/*
-----------------------------------------------------------------------------------------------
*/


/*

MAIN

*/

.left-nav{
    width: 250px;
    padding: 1.25rem;
    padding-bottom: 0;
    height: calc(100vh - 80px);
}

.logo{
    color: white;
    font-weight:600;
    font-size:1.875rem;
    padding: 1.25rem;
}

.main-nav ul li a{
    color: gray;
}

.main-nav ul li:first-child a{
    color: white;
}

.main-nav{
    height:calc(100% - 90px);
}

.playlists{
    height: calc(100% - 245px);
    overflow-y: auto;
}

.user{
    color: gray;
    height: 80px;
    font-size: .9375rem;
    line-height: 40px;
}

.user div:last-child{
    color: white;
}

.user div > img{
    height: .9375rem;
    width: .9375rem;
}

.user div:last-child > img{
    background-color: gray;
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
}


.main-nav .playlists ul li:first-child a{
    color: grey;
}


.right-nav{
    position: relative;
    width: calc(100vw - 250px);
    overflow-y: auto;
    height: calc(100vh - 80px);
}

.upgrade-msg{
    position: fixed;
    height: 80px;
    width: calc(100% - 250px);
    top: 0;
    right: 0;
    justify-content: flex-end;
    padding-right: 1.25rem;
    z-index: 1;
}


.upgrade-msg > a{
    color: white;
    border: 1px solid white;
    border-radius: 3.125rem;
    padding: .5rem 2.5rem;
   align-self:  center;
   font-size: .625rem;
}


main .container .right-nav .genres{
    padding: 0 .625rem;
    padding-top: 5rem;
    height: 100%;
}

main .container .right-nav .genres ul{
    justify-content: center;
    flex-wrap: wrap;
}

main .container .right-nav .genres ul li a{
    color:grey;
}

main .container .right-nav .genres ul li{
    padding: 5px 10px;
}

.cards > .card{
    width: calc((100% / 6) - 20px);
    margin: 0 10px;
}

.songs >h4{
    color:white;
}

.songs >h5{
    color: grey;
}

.cover-container{
    position: relative;
}

.cover-container > img{
    padding-top: .625rem;
    width:100%;
    height:100%;
}

  /*
  
    MAIN HOVERS
  
  */

.cover-container:hover > img{
    opacity: 0.2;
}

.cover-container > i{
    display: none;
}

.cover-container:hover > i{
    display: inline-block;
    color: white;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.upgrade-msg > a:hover{
    color: white;
    border: 3px solid white;
    padding: .6rem 2.8rem;
}

.main-nav ul li a:hover{
    color: white;
}

.main-nav .playlists ul li a:hover{
    color: white;
}

.main-nav .user div span:hover{
    color: white;
}

main .container .right-nav .genres ul li a:hover{
    color:white;
}

/*
-----------------------------------------------------------------------------------------------
*/

/*

FOOTER

*/


.player-container{
    position: relative;
}


.music-player{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-between;
}


.music-player > div{
    height: 100%;
    color: white;
}

.current-song{
    align-items: center;
}

.current-song > img{
    height: 3.125rem;
    width: 3.125rem;
}

.current-song .flexbox{
    flex-wrap: wrap;
    width: 6.25rem;
    margin: 0 1.25rem;
}

.current-song .flexbox > h5{
    display: inline-block;
    color: white;
}

.current-song div > span{
    color: grey;
}


.current-song div:first-of-type + div{
    color: grey;
}

.music-timing{
    justify-content: space-between;
    align-items: center;
}

.central-bar{
    flex-direction: column;
    line-height: 3.125rem;
    align-items:center ;
}

.central-bar div i{
    margin: 0 1.25rem;
}


#loading-bar{
    background-color:rgba(61, 61, 63, 0.76);;
    width: 31.25rem;
    height: .3125rem;
    border-radius:.3125rem;
    align-self: center;
    position: relative;
  }

#loading-bar > hr{
    border: .1875rem solid gray;
    width: 20%;
  }

.minutes{
    align-self:flex-end;
    margin: .625rem 1.25rem;
    font-size: .625rem  ;
  } 

.volume{
    align-items: center;
  }

.volume > * {
    margin: 0 .625rem;
  }

#volume-bar{
    background-color:rgba(61, 61, 63, 0.76);;
    width: 6.25rem;
    height: .3125rem;
    border-radius:.3125rem;
    align-self: center;
    display: inline-block;
    position: relative;
  }

#volume-bar > hr{
    border: 
    3px solid gray;
    width: 20%;
  }

  /*
  
    FOOTER HOVERS
  
  */

.current-song div:first-of-type + div:hover{
    color: white;
}

.current-song div > span:hover{
    color: white;
}

.central-bar .player-buttons i:nth-child(3):hover{
    font-size: 2.5rem ;
}

#loading-bar:hover hr{
    border: .1875rem solid limegreen;
}

#loading-bar i{
    display: none;
}

#loading-bar:hover i{
    display: block;
    position: absolute;
    left:15%;
    top: 20%;
}

#volume-bar:hover hr{
    border: .1875rem solid limegreen;
}

#volume-bar i{
    display: none;
}

#volume-bar:hover i{
    display: block;
    position: absolute;
    left:15%;
    top: 25%;
}

/*
-----------------------------------------------------------------------------------------------
*/

/*

MEDIA QUERY

*/

@media screen and (max-width:1100px){

    .cards > .card{
        width: calc((100% / 4) - 20px);
        margin: 0 10px;
    }
}





@media screen and (max-width:700px){

    .cards > .card{
        width: calc((100% / 2) - 20px);
        margin: 0 10px;
    }
}





@media screen and (max-width:600px){

    .main-nav{
        position: relative;
        height: calc(100% - 35px);
    }
    
    .cards > .card{
        width: calc((100% / 2) - 20px);
        margin: 0 10px;
    }

    .left-nav{
        width: 80px;
        padding: 1.25rem;
        padding-bottom: 0;
        height: calc(100vh - 80px);
    }

    .right-nav{
        position: relative;
        width: calc(100vw - 80px);
        overflow-y: auto;
        height: calc(100vh - 80px);
    }

    .upgrade-msg{
        position: fixed;
        height: 80px;
        width: calc(100% - 80px);
        top: 0;
        right: 0;
        justify-content: flex-end;
        padding-right: 1.25rem;
    }

    .logo{
        padding: 0;
        padding-bottom: 10px;
    }

    .logo > span{
        display: none;
    }

    .main-nav ul li a > span{
        display: none;
    }

    h1{
        display: none;
    }

    .playlists{
        display: none;
    }

    .user{
        position: absolute;
        bottom: 0;
      }
    

    .user div > span{
        display: none;
    }

    .user > hr{
        display: none;
    }
}
